.footer {
  background-color: var(--white);
  width: 100%;
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__back-link {
  color: var(--grey-500);
  font-weight: 500;
  transition: color 0.3s;
}
.footer .footer__back-link:hover {
  color: var(--blue-950);
}
.hero_button,
.confirm-btn {
  padding: 12px 15px;
  border: none;
  color: var(--white);
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  margin-left: auto;
  transition: opacity 0.3s;
}
.hero_button {
  background-color: var(--blue-950);
}
.confirm-btn {
  background-color: var(--purple-600);
}
.hero_button:hover,
.confirm-btn:hover {
  opacity: 0.7;
}
@media (max-width: 599px) {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
  }
}
