.navbar {
  font-size: 0.8rem;
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 35%;
  border-radius: 8px;
}
.navbar a {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .navbar {
    font-size: 0.7rem;
  }
}
@media (max-width: 599px) {
  .navbar {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    min-height: 150px;
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    border-radius: 0;
  }
}
